<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CATS</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <a href="/catMJ"><img src="/images/catMichaelJackson.jpg" alt=""></a>
    <a href="/catBed"><img src="/images/catbed.jpg" alt=""></a>
    <a href="/catYarn"><img src="/images/catyarn.jpg" alt=""></a>
</body>
</html>